DBUtils==3.1.0
feapder==1.9.0
loguru==0.7.2
lxml==4.9.3
openpyxl==3.1.2
pandas==2.0.3
prettytable==3.10.0
pymongo==4.7.3
PyMySQL==1.1.1
pywin32==306
redis==3.5.3
rediscluster==0.5.3
Requests==2.32.3
setuptools==69.5.1
six==1.16.0
tqdm==4.66.4
w3lib==2.1.2
